@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* styles.scss */

.full-width {
    flex: 1 1 100%;
    max-width: 100%;
}

.half-width {
    flex: 1 1 50%;
    max-width: 50%;
}

.one-third {
    flex: 1 1 33.33%;
    max-width: 33.33%;
}

.one-fourth {
    flex: 1 1 25%;
    max-width: 25%;
}

.one-fifth {
    flex: 1 1 20%;
    max-width: 20%;
}
