@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* styles.scss */

.full-width {
    flex: 1 1 100%;
    max-width: 100%;
}

.half-width {
    flex: 1 1 50%;
    max-width: 50%;
}

.one-third {
    flex: 1 1 33.33%;
    max-width: 33.33%;
}

.one-fourth {
    flex: 1 1 25%;
    max-width: 25%;
}

.one-fifth {
    flex: 1 1 20%;
    max-width: 20%;
}

.form-renderer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.submit-button {
    padding: 10px 20px;
    align-self: flex-start;
}
